<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Netflix</title>
  </head>
  <body>
    <header class="header">
      <div class="nav__left-cnt">
        <img
          class="header__logo"
          src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg"
          alt="logo"
        />
        <nav class="nav__left">
          <a href="/" class="nav__item">Accueil</a
          ><a href="" class="nav__item">Séries</a
          ><a href="" class="nav__item">Films</a
          ><a href="" class="nav__item">Nouveautés les plus regardées</a
          ><a href="" class="nav__item">Ma liste</a>
        </nav>
      </div>
      <div class="nav__right-cnt">
        <nav class="nav__right">
          <a href="" class="nav__item"
            ><img class="nav__item-img" src="../assets/search.png" alt="" /></a
          ><a href="" class="nav__item">DIRECT</a
          ><a href="" class="nav__item"
            ><img class="nav__item-img" src="../assets/bell.png" alt="" /></a
          ><a href="" class="nav__item"
            ><img class="nav__item-img" src="../assets/user.png" alt=""
          /></a>
        </nav>
      </div>
    </header>

    <div class="movie__container">
      <img
        class="info__img"
        src="https://image.tmdb.org/t/p/w500/<%= info.poster_path %>"
        alt="movie poster"
      />
      <div class="info__cnt">
        <h2 class="info__title"><%= info.title%></h2>
        <p class="info__description"><%= info.overview%></p>
        <p class="info__note"><%= info.vote_average%>/10</p>
        <p class="info__release">Sortie le <%= info.release_date%></p>
      </div>

      <div class="trend__cnt">
        <% trend[0].forEach(movie => { %>
        <a href="/<%=movie.id%>">
          <div class="trend__img-cnt">
            <img
              class="trend__img"
              src="https://image.tmdb.org/t/p/w500/<%= movie.backdrop_path %>"
              alt=""
            />
          </div>
        </a>
        <% }) %>
      </div>
    </div>
  </body>
</html>
